.slogan{

  // background: green;
  // height: 200px;
  margin-top: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('../../assets/main-bg-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  height: 800px;

  .slogan_content{
    >h1{
      margin: 0;
    }
    >h1,>h3,>h2{
      color: white;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    }
  }

  @media (min-width:768px) {
    .slogan_content{
      width: 50%;
      margin: 0;
      padding: 20px 0;
      border: none;
      background: linear-gradient(to left,rgba(0,0,0,0),rgba(0,0,0,0.2),rgba(0,0,0,0));
    }
  }

  @media (max-width:767px) {
    // background: red;
    height: 100vh;
    margin: 0;
    background-image: url('../../assets/main-bg-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    .slogan_content{
      margin: 0;
      border: none;
      background: linear-gradient(to left,rgba(0,0,0,0),rgba(0,0,0,0.2),rgba(0,0,0,0));
    }
  }

  @media (max-width: 1250px){
    background-size: auto 100%;
  }
}