@import '../../common.scss';

.articles{
  margin: 20px 0;
  border: 1px solid $primary_color;
  text-align: center;
  > h1{
    margin: 0;
  }
  > p{
    cursor: pointer;
    color: $primary_color;
  }

  @include phone{}

  @include pad{}

  @include desktop{}

  @include large{}
}